body{
    width: 100%;
}
*,::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div[data-name="legende-calendrier"]
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}
div[data-name="legende-calendrier"]>input[type=submit].btn_active
{
    background-color: #1d1d1d82 !important;
}
div[data-name="legende-calendrier"]>input[type=submit]
{
    margin: 0.2rem;
    border: none;
    outline: none;
    padding: 0.2rem 0.5rem;
    border-radius: 10px;
    border: #1d1d1d solid 1px;
    width: 30%;
    background-color: rgb(213, 213, 213) ;
    color: #1d1d1d ;

}
div[data-name="legende-calendrier"]>input[type=submit]:hover
{
    background-color: rgb(193, 193, 193);
}



div[data-name="calendrier"]
{
    user-select: none;
    margin-bottom: 1rem;
}
#calendrier{
    user-select: none;
}

table {
    text-align: center;
    background-color: #e3e3e3;   
    width: 100%;
    border: black solid 1px;
}
.moisSuiv, .moisPrec{
    cursor: pointer;
    background-color: #8e1b2c;
    margin: auto;
}
table thead{
    border-bottom : solid 1px black ;
    background-color: #1d1d1d;
    color: #f1f1f1;
}
table tbody td {
    width: 14%;
    touch-action: none;
}
.day_before
{
    opacity: 0.5;
    cursor: not-allowed;
}
.day_after{
    opacity: 0.5;
}


table[data-calendrierno] {
    margin:auto;
}

@media (min-width :992px) {
    div[data-name="legende-calendrier"]
    {   
        flex-direction: column;
    }
    div[data-name="legende-calendrier"]>input[type=submit]
    {   
        width: 100%;
    }
}
@media (max-width :576px) {

    div[data-name="legende-calendrier"]>input[type=submit]
    {   
        font-size: 0.7rem;
        width: 40%;
    }
}

i{
    font-family: "Font Awesome 5 Free";
}
.mois_courant:hover, .day_after:hover{
    background-color: rgb(204, 204, 204);
}
.cal-selection:hover{
    background-color: #1d1d1d;
}

.cal-selection{
    background-color: #1d1d1d82;
    color: #f1f1f1;
}
.cal-spectacle{
    background-color: #8e1b2c;
    color: #f1f1f1;
}